body {
    font-family: Arial, sans-serif;
    background-color: #f2f548;
    margin: 0;
    padding: 20px;
  text-align: center;
}
.titre {
    font-size: 48px;
    font-weight: bold;
    color: #b9b9b9;
    margin-bottom: 20px;

}
.barre {
    width: 100%;
    height: 4px;
    background-color: #a3005f;
    margin-bottom: 20px;
}
h2 {
    font-size: 30px;
    font-weight: 600;
    color: #6b5b00;
    margin-bottom: 10px;
}
.date-heure {
  color: #780baa;
  font-size: 0.9rem;
  white-space: nowrap;
}